<!DOCTYPE html>
<html lang="de-CH" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <title>SoSpri-the-page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pr_bbw.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function() {
            $("#includedHeader").load("fragments/header.html");
            $("#includedFooter").load("fragments/footer.html");
        });
    </script>
</head>

<body>
<div id="includedHeader"></div>

<div class="container" style="margin-top:30px; margin-bottom:30px">
    <div class="row">
        <div class="span12">
            <div class="centered">
                <h2>Passwort Zurücksetzen</h2>
                <form th:action="@{/reset-password-challenge}" th:object="${passwordReset}" method="post" action="" role="form">
                    <fieldset>
                        <legend>Setzen Sie Ihr neues Passwort:</legend>
                        <div class="form-group">
                            <label for="form_username">Benutzername: </label>
                            <input type="text" th:field="*{username}" id="form_username" name="username"/>
                        </div>
                        <div class="form-group">
                            <label for="form_challenge_number">Challenge Number: </label>
                            <input type="number" th:field="*{challengeNumber}" id="form_challenge_number" name="challenge_password"/>
                        </div>
                        <div class="form-group">
                            <label for="form_password">Neues Passwort: </label>
                            <input type="password" th:field="*{password}" id="form_password" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-._;:]).{8,}$" name="password"/>
                        </div>
                        <div class="form-group">
                            <label for="form_password_confirmation">Neues Passwort bestätigen: </label>
                            <input type="password" th:field="*{passwordConfirmation}" id="form_password_confirmation" name="password_confirmation"/>
                        </div>
                        <p id="score-display" style="color: red; font-style: italic">0%</p>
                        <input type="submit" class="btn btn-success btn-send" value="Passwort setzen">
                        <div class="row">
                            <div class="col-md-12">
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
                                <p th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}">Password Confirmation Error</p>
                                <p th:text="*{message}"></p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div style="height:200px"></div>
</div>

<div id="includedFooter"></div>
<script>
    document.getElementById("form_password").addEventListener("change",() => document.getElementById("score-display").innerHTML = evaluatePasswordScore());
    function evaluatePasswordScore() {
        const input = document.getElementById("form_password").value;
        if(!(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-._;:]).{8,}$/.test(input)))
            return "Das Passwort sollte Klein- und Grossbuchstaben sowie Sonderzeichen enthalten. Eine Länge von 8 Zeichen ist das Minimum."
        let score = 0;
        /*
          1. with lower case and upper case = 20P.
          2. with numbers = 20P.
          3. with special characters = 15P.
          4. length > 8 = 15P.
          5. length > 15 = 10P.
          6. length > 20 = 5P.
          7. length > 50 = 5P.
          total: 90P.
         */
        if (/^.*[A-Za-z]+.*$/.test(input)) score += 20;
        if (/^.*\w+.*$/.test(input)) score += 20;
        if (/^.*[#?!@$ %^&*-._;:]+.*$/.test(input)) score += 15;
        if (input.length > 8) score += 5;
        if (input.length > 15) score += 5;
        if (input.length > 20) score += 15;
        if (input.length > 50) score += 10;

        //set color
        const percentage = Math.round(score/90*100);
        if(percentage < 35) document.getElementById("score-display").style.color = "red";
        if(percentage >= 35) document.getElementById("score-display").style.color = "orange";
        if(percentage >= 60) document.getElementById("score-display").style.color = "#FFD919";
        if(percentage >= 85) document.getElementById("score-display").style.color = "green";
        return percentage + "%";
    }
</script>

</body>

</html>