#cart{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: 20rem;
    overflow-y: scroll;
    
    width: 18.5rem;
    margin: 0.5rem;
    top: 50%;
}

::-webkit-scrollbar {
    display: none;
}

#cart-item {
    border: 1px solid #707070;
    width: 90%;
    height: 2.75rem;
    margin-top: 1rem;
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#product-title {
    margin-left: 0.75rem;
}

#increase-decrease-container {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#right-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#right-container > p {
    padding-right: 0.5rem;
}

#delete-cart {
    padding: 0;
    margin: 0;
}

#quantity-indicator {
    margin-top: 1.25rem;
    font-weight: bold;
}

#delete-btn {
    background-color: #E0E0E0;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding: 0.25rem !important;
    border-radius: 0 10px 10px 0 !important;
    width: 3rem;
    height: 2.4rem;
    justify-content: center;
}

.button-xd {
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.75rem;
    padding: 0.25rem;
    
}

.button-xd:hover {
    background-color: #A0A0A0;
}

#resolution {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn-check {
    padding: 0.5rem;
    height: 3rem;
}

#checkout {
    min-height: 20rem;
    height: auto;
    max-height: 30rem;
    width: 30rem;
    padding: 2rem;
}

#product-summary {
    width: 100%;
    height: auto;
    max-height: 20rem;
    background-color: #E9E9E9;
    overflow-y: scroll;
}

#pp-sm {
    padding: 2rem;
    margin: 1rem;
    background-color: #C0C0C0;
}